---
layout: default
gallery: selected
title: selected
---

<div class='container'>

	<!-- SELECTED -->
	<div class='row gallery' style='margin-bottom:40px;'>
		<div class='col-xs-12'>
			<h1>Selected</h1>
		</div>

		{% for image in site.static_files %}
			{% if image.path contains page.title %}
				{% assign new_var = gallery.title | append: '/' | append: category.name %}
				{% if image.path contains new_var %}
					<a class='col-xs-12 col-sm-3 img' href='{{ site.baseurl }}{{ image.path }}'>
						{% assign name = image.name | remove: image.extname %}
						<img class='img-responsive img-thumb' src='{{ site.baseurl }}{{ image.path }}' alt='{{ name }}' title='{{ name }} - edward essing'>
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}

		<!-- {% include gallery.html %} -->

		<!-- {% assign galleries = site.galleries | sort: 'title' | reverse %}
		{% for gallery in galleries limit:1 %}
		<div class='col-xs-12'>
			<a href='/galleries/{{ gallery.title }}'>
				<hr>
				<h2>View more</h2>
			</a>
		</div>
		{% endfor %} -->
	</div>

</div>