<footer class='site-footer container' style='margin:100px auto;'>
	<!-- ARCHIVE -->
	<div class='archive' style='display:inline-block;'>
		<br>
		{% assign galleries = site.galleries | sort: 'title' %}
		{% for gallery in galleries %}
		<a href="{{ gallery.url | prepend:site.baseurl | prepend:site.url }}">
			<h3>{{ gallery.title }}</h3>
		</a>
		{% endfor %}
	</div>
	<br>
	<p>
		All enquiries:
		<a href='mailto:edwardessing@gmail.com'>edwardessing(at)gmail.com</a>
	</p>
	<p><a href='https://www.instagram.com/edwardessing/'>Instagram</a></p>
</footer>