<header class="site-header">
	<div id="menu"><a class="menu-link link col-var"></a>
		<div class="dropdown">
			<div class="archive-list" style="text-align: center;">
				<h4><a href='/'>Home</a></h4>
				{% assign galleries = site.galleries | sort: 'title' | reverse %}
		<!-- {% for gallery in galleries limit:1 %}
			<h4><a href='/galleries/{{ gallery.title }}'>Archive</a></h4>
		{% endfor %} -->
				<!-- <h4><a href='/notes'>Sketches &amp; notes</a></h4> -->
				<h4><a href='/about'>About</a></h4>
				
			</div>
			<hr style="width:50%;">
			<div class="style-list">
				<label for="styleSwitcher"></label>
				<div id="styleSwitch" class="styleSwitch">
					<h4>Settings</h4>
					<div class="div">
						<label>images per row &nbsp;</label>
						<select id="row-tool" class="c-select form-control">
							<option value="" selected="selected" class="row-selected"></option>
							<option value="" disabled="disabled">—</option>
							<option value="col-sm-12" name="1">1</option>
							<option value="col-sm-6" name="2">2</option>
							<option value="col-sm-4" name="3">3</option>
							<option value="col-sm-3" name="4">4</option>
							<option value="col-sm-5ths" name="5">5</option>
							<option value="col-sm-2" name="6">6</option>
						</select>
					</div>
					<div class="div">
						<p>background colour</p>
						<button value="black" class="colour b-black"></button>
						<button value="white" class="colour b-white"></button>
						<button value="gold" class="colour b-gold"></button>
					</div>
					<div class="div">
						<p>text size</p>
						<button value="t1" class="size b-t1">S</button>
						<button value="t2" class="size b-t2">M</button>
						<button value="t3" class="size b-t3">L</button>
					</div>
					<div class="div">
						<p>border</p>
						<button value="b1" class="border b-b1">solid</button>
						<button value="b2" class="border b-b2">inset</button>
						<button value="b3" class="border b-b3">none</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>